:root {
  interpolate-size: allow-keywords; /* Enables keyword animations globally */
}

.ProductPage{
    width: 100%;
    min-height: 100dvh;
}

.productBox{
    width: 100%;
    max-height: 80%;
    height: auto;
    position: sticky;
    bottom: 64px;
    left: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    transition: .5s;
    pointer-events: none;
}
.productBox.minimised{
    bottom: calc(-100%);
}

.innerProductBox{
    width: calc(100% - 20px);
    max-width: var(--body-width);
    background-color: var(--theme);
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:0.2s;
    margin-top: 30px;
    pointer-events: all;
}


.innerProductBox .main{
    width: 100%;
    max-height: calc(var(--content-height) - 140px);
    flex: 1;
    display: grid;
    grid-template-rows: auto 0fr;
    transition: grid-template-rows .3s ease;
}

.productBox.expanded .main{
    grid-template-rows: auto 1fr;
}

.bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex: 0 0 0px;
}

.productBox.expanded .content{
    overflow-y: auto; 
    border-top: 1px solid var(--theme-light);
    border-bottom: 1px solid var(--theme-light);
}

.content{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    color: var(--theme-text);
    padding: 0px;
    overflow: hidden;
    min-height: 0;
}

.content > div{
    padding: 10px 0;
    width: 100%;
    height: 100%;
}

.productBox .content::-webkit-scrollbar{
    display: none;
}

.content .title{
    font-weight: 500;
    font-size: 16px;
    /* height: 100vh;
    display: block; */
}
.content p{
    padding: 10px 0 0 0;
    opacity: 0.7;
    font-size: 15px;
}
.content ul{
    padding-left: 20px;
}
.viewMore{
    padding: 5px;
    font-size: 12px;
    text-decoration: underline;
    color: var(--theme-text);
    opacity: 0.7;
}

.productBox .thumbnail{
    max-width: 100px;
    width: 100px;
    aspect-ratio: 1 /1;
    border-radius: 10px;
    overflow: hidden;
}
.productBox .meta{
    flex: 1;
}
.productBox .thumbnail img{
    width: 100%;
    height: 100%;
}
.productBox .info{
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: space-between;
    position: sticky;
    top: 0;
    flex: none;
}

.info .name{
    font-size: 16px;
    font-weight: 500;
}

.price{
    font-size: 20px;
    font-weight: 900;
    padding: 10px 0;
    display: inline-flex;
    align-items: end;
    user-select: none;
    flex-wrap: wrap;
}

.price mrp{
    text-decoration: line-through;
    font-weight: 400;
    opacity: 0.7;
    font-size: 16px;
    padding: 0 5px;
}
.price discount{
    font-weight: 500;
    font-size: 20px;
    color: var(--color);
    align-items: center;
    display: flex;
}
.price discount svg{
    margin: auto 0;
    height: 22px;
    width: 22px;
}

.info .type{
    opacity: 0.7;
    font-size: 12px;
}
.info .label{
    background-color: var(--theme-deep);
    border: 1px solid var(--theme-light);
    display: inline-block;
    padding: 3px;
    font-size: 12px;
    border-radius: 5px;
    margin:4px 2px 0px 2px;
}
.info .label.color{
    box-shadow: inset 0 0 5px 0 var(--color);
    /* background-color: var(--color); */
}

.addToCart{
    width: 100%;
    padding: 10px;
    background-color: var(--theme);
    text-align: center;
    text-shadow: 0 0 10px var(--theme);
    border: 1px solid var(--root-theme);
    transition: 0.1s;
    border-radius: 10px;
    color: var(--theme-text);
}
.addToCart:hover{
    background-color: var(--root-theme);
    color: black;
}





