.navBox{
    width: 100%;
    padding: 10px;
    position: sticky;
    z-index: 10;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
    pointer-events: none;
}
.navbar{
    max-width: var(--body-width);
    width: calc(100%);
    background-color: var(--theme-deep);
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px -10px var(--root-theme);
    pointer-events: all;
}
.navBox.minimise{
    top: -100%;
}