.navBox {
    width: 100%;
    padding: 10px;
    position: sticky;
    z-index: 10;
    top: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.navbar {
    max-width: var(--body-width);
    width: 100%;
    background-color: var(--theme-deep);
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px -10px var(--root-theme);
    pointer-events: all;
    will-change: transform;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}


.navBox.minimise .navbar {
    transform: translateY(-200%); 
}
