*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --root-theme-light:rgb(245, 245, 245);
  --root-theme-light-text:rgb(0, 0, 0);
  --root-theme-light-dark:rgb(88, 88, 88);
  --root-theme-light-light:white;

  --root-theme-dark:rgb(24, 24, 24);
  --root-theme-dark-text:rgb(255, 255, 255);
  --root-theme-dark-light:rgb(63, 63, 63);
  --root-theme-dark-dark:rgb(0, 0, 0);

  --root-theme: #d9b061;

  --body-width: 425px;
}
@media (max-width:425px) {
  *{
    --body-width:100dvw;
  }
}

.light{
  --theme:var(--root-theme-light);
  --theme-text:var(--root-theme-light-text);
  --theme-light:var(--root-theme-light-dark);
  --theme-deep:var(--root-theme-light-light);
}
.dark{
  --theme:var(--root-theme-dark);
  --theme-text:var(--root-theme-dark-text);
  --theme-light:var(--root-theme-dark-light);
  --theme-deep:var(--root-theme-dark-dark);
}
.body{
  overflow-x: hidden;
}
.app{
  width: 100%;
  min-height: 100dvh;
  background-color: var(--theme);
  color:var(--theme-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.container{
  max-width: var(--body-width);

}

.icon{
  fill: var(--color);
  width: 100%;
  height: 100%;
}
